### Evaluate Pilots

In [ ]:
import pandas as pd


data = pd.read_csv('data/social_origins/annotation_cultural_object - Sheet1.csv')
data = data[['individual_wikidata_id', 'classification', 'score (1-0)']]
data = data.rename(columns={'score (1-0)':'evaluation'})
data['evaluation'][data['evaluation']!='1'] = 0
data['evaluation'] = data['evaluation'].astype(int)

   individual_wikidata_id classification  evaluation
0                  Q77131   Middle Class           1
1                 Q123034   Middle Class           1
2                 Q131405   Middle Class           1
3                 Q514276   Middle Class           1
4                  Q44403   Middle Class           1
..                    ...            ...         ...
85                 Q11903          Elite           1
86                 Q43706          Elite           1
87                Q200608        Unknown           1
88                  Q9372          Elite           1
89                 Q47739        Unknown           1

[90 rows x 3 columns]

In [12]:
import pandas as pd
import numpy as np

# Assuming your data is already loaded in a DataFrame called 'data'
# If not, you can load it like this:
# data = pd.read_csv('your_file.csv')

# For demonstration purposes, I'll create a sample DataFrame based on your screenshot
# In your actual code, use your real DataFrame instead of this sample

def calculate_accuracy_metrics(df):
    # Group by classification and evaluation
    grouped = df.groupby(['classification', 'evaluation']).size().unstack(fill_value=0)
    
    # If the columns don't include both 0 and 1, add them with zero counts
    for col in [0, 1]:
        if col not in grouped.columns:
            grouped[col] = 0
    
    # Calculate metrics
    results = pd.DataFrame()
    results['Total'] = grouped.sum(axis=1)
    results['Correct'] = grouped[1]
    results['Incorrect'] = grouped[0]
    results['Accuracy'] = results['Correct'] / results['Total']
    
    # Add overall row
    overall = pd.DataFrame({
        'Total': [results['Total'].sum()],
        'Correct': [results['Correct'].sum()],
        'Incorrect': [results['Incorrect'].sum()],
        'Accuracy': [results['Correct'].sum() / results['Total'].sum()]
    }, index=['Overall'])
    
    results = pd.concat([results, overall])
    
    # Format accuracy as percentage
    results['Accuracy'] = results['Accuracy'].apply(lambda x: f"{x:.1%}")
    
    return results

    
    # Calculate and print the summary
summary = calculate_accuracy_metrics(data)
print("\nAccuracy Summary by Category:")
print("============================")
print(summary)

Accuracy Summary by Category:
============================
              Total  Correct  Incorrect Accuracy
Elite            42       40          2    95.2%
Middle Class     30       26          4    86.7%
Unknown          18       18          0   100.0%
Overall          90       84          6    93.3%